# AI Neural Video Studio - Git Ignore
# Não queremos subir arquivos pesados ou privados

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Modelos (O usuário deve baixar ou linkar os dele)
models/checkpoints/*.safetensors
models/checkpoints/*.ckpt
models/checkpoints/*.gguf
models/loras/*.safetensors
models/vae/*.safetensors
models/controlnet/*.safetensors
models/upscalers/*.safetensors
models/clip/*.safetensors
models/diffusion_models/*.safetensors

# Usuário e Log
config/user_config.json
config/vault.json
workspace/output/*
workspace/input/*
workspace/temp/*
*.log

# Engine interna (Opcional: Se quiser que o usuário clone a engine separadamente, mas vamos incluir a engine limpa)
engine/.git/
engine/output/*
engine/input/*
engine/models/*
engine/user/*
tools/tagger_models/
.core/
